<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAXvbTmFKRAOQGLIR2VAn-CyAQkX_lo580</string>
	<key>GCM_SENDER_ID</key>
	<string>964265908584</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.profileMe</string>
	<key>PROJECT_ID</key>
	<string>profile-me-1d839</string>
	<key>STORAGE_BUCKET</key>
	<string>profile-me-1d839.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:964265908584:ios:3619335ceaf1a82eb6dedd</string>
</dict>
</plist>